<h1>My First Attribute Directive</h1>

<h4>Pick a highlight color</h4>
<div>
  <input type="radio" name="colors" (click)="color='lightgreen'">Green
  <input type="radio" name="colors" (click)="color='yellow'">Yellow
  <input type="radio" name="colors" (click)="color='cyan'">Cyan
</div>
<p [myHighlight]="color">Highlight me!</p>

<label i18n="male-female">First name:</label> <input type="text" i18n="fname" name="FirstName" value="Mickey"><br>
Last name: <input type="text" i18n="lname" name="LastName" value="Mouse"><br>
<span i18n="hero-is">The great hero is:</span>
<img src="https://angular.io/resources/images/logos/angular/angular.png" i18n-title="logo"/>
